<% layout('layouts/boilerplate') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/pages.css">
</head>
<body>
  <h1 style="margin-top:20px; margin-left: 2.2%;">Recommendations!</h1>
  <div>
    <button class="btn btn-success mb-3" style="margin-left: 2.2%; padding: 5px;"><a href="/recs/new" style="text-decoration: none; color: inherit;">Recommend Something New</a></button>
  </div>
  <ul>
    <% for (let rec of recs) { %>
      <% if( currentUser && rec.author.equals(currentUser._id)) { %>
        <a href="/recs/<%= rec._id %>">
          <div class="card text-bg-dark mb-3" style="height: 30vh; transition: transform 0.3s ease;" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">
            
            <div class="card-img-overlay">
              <h5 class="card-title"><%= rec.title %></h5>
              <p class="card-text"><%= rec.content %></p>
              <p class="card-text"><small><%= rec.createdAt %></small></p>
            </div>
          </div>
        </a>
      <% } %>
    <% } %>
  </ul>
</body>
</html>
